body {
     text-align:center;
}

#gameArea {width: 400px; background-color:#d0e4fe;}
#theDeck {list-style: none; width: 400px; height: 400px;background-color:blue;}
.card {float: left; border: 1px solid black; width: 90px; height: 90px; background-color:green}
